root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
max_line_length = 150

[Makefile]
indent_style = tab

[*.{json,json5,js,cjs,ts,tsx,vue,css}]
indent_size = 2

[*.scm]
indent_size = 2

[*.rs]
indent_size = 4

[*.py]
indent_size = 4

